@font-face {
    font-family:Roboto-Regular;
    src: url('../fonts/Roboto-Regular.ttf');
}
@font-face {
    font-family:Roboto-Bold;
    src: url('../fonts/Roboto-Bold.ttf');
  }
.edit-modal-main{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:Roboto-Regular;
    opacity: 0;
    transition: .3s;
    pointer-events: none;
}
.edit-modal-main.show{
    opacity: 1;
    pointer-events: visible;
}
label{
    font-family:Roboto-Bold;
    margin-bottom: .3em !important;
}
.edit-modal-body{
    width: 500px;
    box-shadow: 0px 0px 10px -1px #83c3f388;
    border-radius: 15px;
    padding: 1em;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 1.5em;
    position: relative;
}
.input-blocks{
    width: 100%;
    text-align: left;
}
.input-forms{
    border-radius: 4px;
    border: 1px solid #2d2d2d80;
    transition: .3s;
    outline: none;
    padding: .3em;
    width: 100%;
}
.input-forms:focus{
    box-shadow: 0px 0px 10px 2px #83c3f388;
}
.close-btn{
    position: absolute;
    right: 10px;
    top: 10px;
    border:0;
    background-color: unset;
}